
.dino{
    width: 250px;
    height: 150px;
     background-color: green;
    position: absolute;
    bottom: 80px;

}

.ajusteDino{
    width: 100%;
}

.cactus{
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 80px;
    background-color: rgb(119, 20, 20);

}